
*
    margin 0
    padding 0

body
    background #4091C3
    font-family 'Lato'
    font-size 14px

.container
    width 940px
    margin 0 auto

img
    max-width 100%

.container_flex
    display flex   /*POUR FLEXER SUR LES HATERS*/
    flex-flow row wrap
    justify-content flex-start
    align-items center


/*
FORMULAIRE
*/

.login
    width 500px
    margin 0 auto 
    margin-top 10%

/* Bordered form */
form 
    max-width 100%
    padding 30px
    border 1px solid #f1f1f1
    background #fff
    box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

.login h1
    width 30%
    margin 0 auto
    padding-bottom 10px


/* Full-width inputs */
#name-input,#password-input 
    width 100%
    padding 12px 20px
    margin 8px 0
    display inline-block
    border 1px solid #ccc
    box-sizing border-box


/* Set a style for all buttons */
.submit-button 
    background-color #4091C3
    color white
    padding 14px 20px
    margin 8px 0
    border none 
    cursor pointer
    width: 100%


.submit-button:hover 
    background-color white
    color #4091C3
    border 1px solid #4091C3



/*
DISPLAY
*/
.is-not-visible
    display none




/*
    HEADER
*/

header
    background-color #4091C3
    display flex
    height 70px

a.site-title
    text-decoration none

h2
    padding-left 70px
    padding-top 23px
    text-transform uppercase
    color white
    letter-spacing 5px

nav li 
    list-style none
    margin-left 20px

nav li a
    padding 25px 5px 5px 5px
    margin 0px 20px
    display inline-block
    color white
    text-decoration none
    font-size 16px
    font-weight lighter
    letter-spacing 2px
    transition-property color, background
    transition-duration 0.5s
    transition-timing-function ease-in-out

nav li a.current
    background #ebebeb
    border-bottom 1px solid #AEDDF3
    color #4091C3

nav li a:hover
    background #ebebeb
    border-bottom 1px solid #AEDDF3
    color #4091C3


main
    margin-top 50px

.main-container
    display flex
    justify-content: center

caption
    font-size 25px
    letter-spacing 2px
    margin-bottom 10px
    color #4091C3

td,th
    padding 10px 20px

table
    /*border-collapse collapse*/
    margin 0 auto

thead th, thead td, tfoot th, tfoot td
    background #4091C3
    color white

tbody tr:nth-child(2n)
    background: lightgrey


